arm-linux-gnueabi filter=lfs diff=lfs merge=lfs -text
bin filter=lfs diff=lfs merge=lfs -text
lib filter=lfs diff=lfs merge=lfs -text
share filter=lfs diff=lfs merge=lfs -text
x86_64-pc-linux-gnu filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
aarch64-linux-gnu filter=lfs diff=lfs merge=lfs -text
